<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Sign Up!</h1>
            <hr>

            <form action="/users/signup" method="POST" enctype="multipart/form-data">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="email" class="form-label">Email address </label>
                        <input type="email" class="form-control" id="email" name="email">
                        <div class="form-text">Required.</div>
                    </div>
                    <div class="col">
                        <label for="pwdInput" class="form-label">Password</label>
                        <input type="password" class="form-control" id="pwdInput" name="userPwd">
                        <div class="form-text">Required.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <div class="form-text">Required.</div>
                </div>

                <div class="mb-3">
                    <label for="bio" class="form-label">Bio</label>
                    <input type="text" class="form-control" id="bio" name="bio">
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Profile picture</label>
                    <input type="file" class="form-control" id="formFile" name="img">
                    <div class="form-text">Insert a profile picture (optional).</div>
                </div>

                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                    <div class="form-text">Required.</div>
                </div>

                <div class="mb-3">
                    <label for="birth" class="form-label">
                        Birth date</label>
                    <input type="date" class="form-control" id="birth" name="birth">
                    <div class="form-text">Required.</div>
                </div>


                <fieldset>
                    <legend id="userType">How will you be using tikitrips_?</legend>

                    <div>
                        <input class="form-check-input" type="radio" id="flexCheckDefault" name="role"
                            value="PASSENGER">
                        <label for="PASSENGER">Passenger</label>
                    </div>

                    <div>
                        <input class="form-check-input" type="radio" id="flexCheckDefault" name="role" value="DRIVER">
                        <label for="DRIVER">Driver</label>
                    </div>
                </fieldset>

                <hr>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Create my account!</button>
                </div>


            </form>
        </div>
    </div>
</div>