body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffedc7;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#allNavBar {
  background-color: #e19191;
}

/* Nav Style */

#navbarSupportedContent {
  margin-right: 10%;
  justify-content: end;
}

.navbar-brand {
  margin-left: 10%;
  padding-bottom: 15px;
}

/* User type title signup */

#userType {
  font-size: 14px;
}

/* Render Map */

#myMap {
  height: 400px;
  background-color: red;
}

/* Image navbar my profile */

#user-default {
  width: 25%;
  border-radius: 1em;
  margin-left: 10px;
}

/*------------INDEX---------------*/

/*Background image */

#div-container-gif {
  height: 700px;
  background-size: cover;
  background-image: url("./../images/layout-gif.gif");
  background-repeat: no-repeat;
  background-position: center;
}

/* Title of home */

.home-title {
  text-align: left;
  font-family: Arial;
  font-size: 100px;
  text-align: center;
  COLOR: #1278BF;
  text-shadow: 0px 0px 9px #508AD3;
}

/* Info about App Style */

#info-app {
  height: 300px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


}

#info-app h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
}

#info-app p {
  text-align: center;
  margin: 35px 10px;
  font-size: 15px;
}

#info-app img {
  width: 60%;
  margin-left: 30%;
}

/* buton more info in ad */

#btn-ad-info {
  display: block;
  align-items: center;

}

/*   Advert style */

#ad {
  background-color: #feb6aa;
}

.flex-img h3 {
  margin-top: 10px;
  text-align: center;
}

.flex-img p {

  margin-top: 10px;
  text-align: center;
}

.flex-img img {
  width: 8%;
  display: block;
  margin: 0 auto;
}

/* footer */

footer {
  padding-top: 20px;
  background-color: grey;
  height: 200px;
}

/*-------List-User view ------------------*/

.page-title {
  text-align: center;
  padding-top: 15px;
  font-family: Arial;
  font-size: 80px;
  text-align: center;
  COLOR: #1278BF;
  text-shadow: 0px 0px 9px #508AD3;

}


/* Card */

/* From uiverse.io by @gagan-gv */

.card {
  width: 290px;
  height: 400px;
  background: white;
  padding: .4em;
  border-radius: 6px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 60%;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  color: rgb(21, 20, 20);
  padding: 50px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  font-size: 20px;
  color: rgb(117, 101, 101);
  padding-top: 14px;
  text-align: center;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

/* Button card */


.a-button {
  display: block;
  position: relative;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 3px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: none;
  clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
  background-color: #000000;
  background-image: radial-gradient(200% 70% at center 20%, rgba(48, 44, 45, 1) -30%, rgba(50, 46, 47, 1) 49%, rgba(22, 18, 19, 1) 50%, rgba(22, 18, 19, 1) 150%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
}

button:hover {
  background-position-y: -50px;
}

button:active {
  transform: scale(0.99);
}