<div id=div-container-gif>
    <div id=layout-gif>
        <h1 class="home-title">{{appTitle}}</h1>
    </div>
</div>


<div id="info-app">
    <div class="row">
        <div class="col-xl-6  col-md-12">
            <h2 class="info-app-title">About our app</h2>
            <p>At tikitravels_, we are constantly working to make our platform as secure as possible. <br> However, we
                cannot
                100% prevent the possibility of a scam. <br> Therefore, we want you to know how to avoid them and report
                them.
                <br> Follow our tips to know how to ensure your safety.
            </p>

            <a href="#" id="btn-ad-info" class="btn btn-primary disabled" tabindex="-1" role="button"
                aria-disabled="true">More info</a>
        </div>
        <div class="col-xl-6 col-md-12">
            <img src="./../..//images/man-driving.jpg" alt="image-man-driving">
        </div>
    </div>
</div>

<div id="ad">
    <div class="row">
        <div class="col-xl-4  col-md-12 mb-5 mt-5">

            <div class="flex-img">
                <img src="./../../images/salary.png">
                <h3>Thousands of cheap trips</h3>
                <p>Wherever you go, find your ideal trip at a very low price.</p>


            </div>
        </div>
        <div class="col-xl-4  col-md-12 mb-5 mt-5">
            <div class="flex-img">
                <img src="./../../images/check.png">
                <h3>Hire your insurance for code reviews</h3>
                <p>We know the trauma that a code review can cause, don't worry with us you will be guaranteed safety
                    and happiness</p>

            </div>
        </div>
        <div class="col-xl-4  col-md-12 mb-5 mt-5">
            <div class="flex-img">
                <img src="./../../images/nodejs.png">
                <h3>Search, choose and travel!</h3>
                <p>Booking a trip is easier than ever! Thanks to our simple app and its powerful technology, you can
                    book a ride near you
                    in minutes.</p>

            </div>
        </div>

    </div>
</div>