<div id=div-container-gif>
    <div id=layout-gif>
        <h1 class="home-title">tikitravels_</h1>
    </div>
</div>


<div id="info-app">
    <div>
        <h2 class="info-app-title">What about our app</h2>
        <p>At tikitravels_ , we are constantly working to make our platform as secure as possible. <br> However, we
            cannot
            100% prevent the possibility of a scam. <br> Therefore, we want you to know how to avoid them and report
            them.
            <br> Follow our tips to know how to ensure your safety.
        </p>
        <a href="#" id="btn-ad-info" class="btn btn-primary disabled" tabindex="-1" role="button"
            aria-disabled="true">More info</a>
    </div>
    <div>
        <img src="./../..//images/man-driving.jpg" alt="image-man-driving">

    </div>
</div>

<div id="ad">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12 mb-5 mt-5">
            <div class="flex-img">
                <img src="./../../images/salary.png">
                <h3>Thousands of cheap trips</h3>
                <p>Wherever you go, find your ideal trip at a very low price.</p>


            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 mb-5 mt-5">
            <div class="flex-img">
                <img src="./../../images/check.png">
                <h3>Hire your insurance for code reviews</h3>
                <p>We know the trauma that a code review can cause, don't worry with us you will be guaranteed safety
                    and happiness</p>

            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 mb-5 mt-5">
            <div class="flex-img">
                <img src="./../../images/nodejs.png">
                <h3>Search, choose and travel!</h3>
                <p>Booking a trip is easier than ever! Thanks to our simple app and its powerful technology, you can
                    book a ride near you
                    in minutes.</p>

            </div>
        </div>

    </div>

    <footer>
        <div class="container-footer">
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <img class="footer-image" src="./images/iso-slack.png" alt="" />
                </div>

                <div class="col-xl-5 col-lg-4 col-md-5 ">
                    <ul>
                        <li class="first-li">COMPANY</li>
                        <li>About Us</li>
                        <li>Careers</li>
                        <li>Blog</li>
                        <li>Press</li>
                        <li>Brand Guidelines</li>
                    </ul>
                </div>
                <div class="col-xl-5 col-lg-4 col-md-5 ">
                    <ul>
                        <li class="first-li">PRODUCT</li>
                        <li>Why Slack?</li>
                        <li>Enterprise</li>
                        <li>Customer Stories</li>
                        <li>Pricing</li>
                        <li>Security</li>
                    </ul>
                </div>



            </div>
            <hr>


            <article>
                <div class="row">
                    <div class="col-xl-12 ">
                        <span class="span-english">English (US)</span>
                    </div>
                </div>
            </article>

            <div class="span-icon">
                <span class="icon-twitter"></span>
                <span class="icon-facebook2"></span>
                <span class="icon-youtube"></span>
            </div>

    </footer>