<div id=div-container-gif>
    <div id=layout-gif>
        <h1 class="home-title">tikitravels_</h1>
    </div>
</div>


<div id="info-app">
    <div>
        <h2 class="info-app-title">What about our app</h2>
        <p>At tikitravels_ , we are constantly working to make our platform as secure as possible. <br> However, we
            cannot
            100% prevent the possibility of a scam. <br> Therefore, we want you to know how to avoid them and report
            them.
            <br> Follow our tips to know how to ensure your safety.
        </p>
        <a href="#" id="btn-ad-info" class="btn btn-primary disabled" tabindex="-1" role="button"
            aria-disabled="true">More info</a>
    </div>
    <img src="./../..//images/man-driving.jpg" alt="image-man-driving">
</div>
<div class="container">
    <div id="ad">


    </div>
</div>