<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Create new trip!</h1>

            <hr>

            <form action="/trips/create" method="POST">

                <label for="origin" class="form-label">Where will your trip start?</label>
                <input type="text" class="form-control" id="origin" name="origin" aria-describedby="emailHelp">
                <br>

                <label for="destination" class="form-label">Where are you going to?</label>
                <input type="text" class="form-control" id="destination" name="destination"
                    aria-describedby="emailHelp">
                <br>

                <div class="mb-3">
                    <label for="date" class="form-label">
                        Select the day of your trip</label>
                    <input type="date" class="form-control" id="date" name="date">
                    <div class="form-text">Required.</div>
                </div>

                <label for="description" class="form-label">Add a short description of your trip</label>
                <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                <div class="form-text">Required (min 20 characters).</div>
                <br>

                <label for="numberOfPassengers" class="form-label">How many seats are available in your car?</label>
                <input type="number" class="form-control" id="numberOfPassengers" name="numberOfPassengers"
                    aria-describedby="emailHelp">
                <br>

                <fieldset>
                    <p id="userType">Can the passengers smoke in your car?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="smokingAllowed" value="true" // CUIDADO AQUÍ
                            id="smokingAllowed">
                        <label class="form-check-label" for="flexCheckDefault">
                            Yes
                        </label>
                    </div>
                    <div class="form-check" class="form-label">
                        <input class="form-check-input" name="smokingAllowed" type="radio" value="false" // CUIDADO AQUÍ
                            id="smokingAllowed">
                        <label class="form-check-label" for="flexCheckChecked">
                            No
                        </label>

                </fieldset>



                <input type="submit" value="Create your trip">

            </form>
        </div>
    </div>
</div>